<!DOCTYPE html>
<html>
  <head>
    <title>Furima32371</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css"> %>
    <link rel="stylesheet" type="text/css" href="../assets/reset">
    <link rel="stylesheet" type="text/css" href="../assets/shared/error_messages">
    <link rel="stylesheet" type="text/css" href="../assets/shared/header">
    <link rel="stylesheet" type="text/css" href="../assets/shared/footer.scss">
    <link rel="stylesheet" type="text/css" href="../assets/shared/second_fotter">
    <link rel="stylesheet" type="text/css" href="../assets/shared/second_header">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>